<div class="card">
  <div class="card-header">
    <b>{{pageTitle}}</b>
  </div>
  <div class='card-body'>
      <div class='row'>
        <div class='col-md-2'>Filter:</div>
        <div class='col-md-4'>
            <input type='text' [(ngModel)] = 'filterBy'/>
        </div>
      </div>
      <div class='row' *ngIf ='products'>
        <div class='col-md-6'>
          <h4 *ngIf ='filterBy.length > 0'>Filtered by: {{filterBy}} </h4>
        </div>
      </div>
      <div class='table-responsive'>
        <table class='table'>
          <thead>
            <tr>
              <th>
                <button class='btn btn-primary' (click) ='toggleImage()'>{{showImage ?'Hide' : 'Show'}} Image</button>
              </th>
              <th>Product</th>
              <th>Code</th>
              <th>Available</th>
              <th>Price</th>
              <th>5 Star Rating</th>
            </tr>
          </thead>
          <tbody *ngIf ='products'>
            <tr *ngFor='let product of filteredProducts'>
                <td><img *ngIf='showImage' img [src]="product.imageUrl" height="30" width="50"></td>
                <td><a routerLinkActive='active' [routerLink]="['/productdetails', product.productId]">  {{product.name}}</a></td>
                <td>{{product.code | lowercase | converToSpaces:'-'}}</td>
                <td>{{product.releaseDate | date:'dd MMM yyyy'}}</td>
                <td>{{product.price |currency:'INR':'symbol':'1.2-2'}}</td>
                <!--<td>{{product.starRating}}</td>--> 
                <td><app-star [rating] = 'product.starRating' (ratingClicked) = 'onRatingClicked($event)'></app-star></td>
                <td>
                  <button class="btn btn-outline-primary btn-sm"
                          [routerLink]="['/products', product.productId, 'edit']">
                    Edit
                  </button>
                </td>
            </tr>
          </tbody>
          <tbody *ngIf ='ErrorMessage'>
            <tr>Error occured while fetching data from server.</tr>
            <tr>{{ErrorMessage}}</tr>
          </tbody>
          <tbody *ngIf ='!ErrorMessage && !products'>
            <tr>Loading...</tr>
          </tbody>
        </table>
      </div>
    </div>
</div>
