<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="Logging" type="NServiceBus.Config.Logging, NServiceBus.Core" />
    <section name="MessageForwardingInCaseOfFaultConfig" type="NServiceBus.Config.MessageForwardingInCaseOfFaultConfig, NServiceBus.Core" />
    <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core" />
    <section name="TransportConfig" type="NServiceBus.Config.TransportConfig, NServiceBus.Core" />
    <section name="AuditConfig" type="NServiceBus.Config.AuditConfig, NServiceBus.Core" />    
  </configSections>
  <connectionStrings>
    <add name="NServiceBus/Transport" connectionString="host=localhost;port=5672;username=guest;password=guest;" />
    <add name="BazookaDbContext" connectionString="Data Source=devgxsql07;Initial Catalog=Guru_QA;Integrated Security=SSPI;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="NewRelic.AppName" value="Coyote.Execution.CheckCall.Endpoint" />
    <add key="NewRelic.AgentEnabled" value="true" />
  </appSettings>
  <AuditConfig QueueName="audit" />
  <MessageForwardingInCaseOfFaultConfig ErrorQueue="error" />
  <TransportConfig MaxRetries="1" />
  <UnicastBusConfig>
    <MessageEndpointMappings>
      <add Assembly="Coyote.Execution.CheckCall.Contracts" Type="Coyote.Execution.CheckCall.Contracts.Commands.SendDailyCheckCallEmail" Endpoint="Coyote.Execution.CheckCall.Email.Endpoint" />
      <add Assembly="Coyote.Execution.CheckCall.Contracts" Type="Coyote.Execution.CheckCall.Contracts.Commands.ProcessDailyCheckCallEmails" Endpoint="Coyote.Execution.CheckCall.Endpoint" />
      <add Assembly="Coyote.Execution.CheckCall.Contracts" Type="Coyote.Execution.CheckCall.Contracts.Commands.ProcessPriorDayCheckCallEmails" Endpoint="Coyote.Execution.CheckCall.Endpoint" />
      <add Assembly="Coyote.Execution.CheckCall.Contracts" Type="Coyote.Execution.CheckCall.Contracts.Commands.LoadActivationCancellationEmailCommand" Endpoint="Coyote.Execution.CheckCall.Email.Endpoint" />
    </MessageEndpointMappings>
  </UnicastBusConfig>  
  <Logging Threshold="DEBUG" />
  <log4net>
    <root>
      <level value="WARN" />
      <appender-ref ref="EventLogAppender" />
    </root>
    <logger name="NServiceBus">
      <level value="All" />
      <appender-ref ref="System.LogFileAppender" />
    </logger>
    <logger name="Coyote.Execution">
      <level value="All" />
      <appender-ref ref="Ops.LogFileAppender" />
    </logger>
    <appender name="Ops.LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="c:\logs\Coyote.Execution.CheckCall.Endpoint.log" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyyMMdd" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date | %-5level | E%-6property{ErrorId} | W%-6property{UnitOfWorkId} | T%-6thread | P%t | %message%newline%exception" />
      </layout>
    </appender>
    <appender name="System.LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="c:\logs\Coyote.Execution.CheckCall.Endpoint.System.log" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyyMMdd" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date | %-5level | E%-6property{ErrorId} | W%-6property{UnitOfWorkId} | T%-6thread | P%t | %message%newline%exception" />
      </layout>
    </appender>
    <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
      <logName value="Coyote" />
      <applicationName value="Coyote.Carrier.CheckCall.Endpoint" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date | %-5level | E%-6property{ErrorId} | W%-6property{UnitOfWorkId} | T%-6thread | %stacktrace{10} | %message%newline%exception" />
      </layout>
      <securitycontext type="log4net.Util.WindowsSecurityContext">
        <credentials value="Process"></credentials>
      </securitycontext>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="WARN" />
        <levelMax value="FATAL" />
      </filter>
    </appender>
  </log4net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="RabbitMQ.Client" publicKeyToken="89e7d7c5feba84ce" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.7.0" newVersion="3.5.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>